# SSL fix for local development only
NODE_TLS_REJECT_UNAUTHORIZED=0
CORS_ORIGIN = http://localhost:3001
OPEN_METEO_BASE_URL = https://api.open-meteo.com/v1/
GEO_METEO_API = https://geocoding-api.open-meteo.com/v1/search